<div class="nc-nav">
    <div class="container-fluid px-3 px-lg-4">
        <div class="nc-nav-row">
            <a class="nc-brand" href="">
                <span class="nc-brand-name">The Triad PC</span>
                <span class="nc-brand-tag">Night Crew</span>
            </a>

            <input type="checkbox" title="Navigation menu" class="nc-nav-toggler" />

            <nav class="nc-nav-links" onclick="document.querySelector('.nc-nav-toggler').click()">
                <NavLink class="nc-nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
                <NavLink class="nc-nav-link" href="events">Eventi</NavLink>
                <NavLink class="nc-nav-link" href="cities">Città</NavLink>
                <NavLink class="nc-nav-link" href="magazine">Magazine</NavLink>
                <NavLink class="nc-nav-link" href="favorites">Preferiti</NavLink>
                <NavLink class="nc-nav-link" href="about">Chi Siamo</NavLink>
                <NavLink class="btn nc-btn ms-lg-2 py-1 px-3 fs-6" href="venues" style="border-radius: 999px;">Per i Locali</NavLink>
            </nav>
        </div>
    </div>
</div>
